# .DS_Store

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.vscode-test/*
node_modules/*
out/*
dist/*

# Ignore all local history of files
**/.history

# Built Visual Studio Code Extensions
*.vsix